* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sahel;
  text-decoration: none;
  outline: none;
  border: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

header {
  height: 100vh;
  background-image: url("../Images/logo6.jpg");
  background-color: rgba(0, 0, 0, 0.692);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  transition: all 0.2s ease;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
/* .navbar-area {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #000;
} */
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-area {
  /* background: #222; */
  background-color: transparent;
  padding: 0px 0px;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.site-navbar ul li a {
  color: rgba(255, 255, 255, 0.85);
  padding: 20px 40px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  transition: all 0.1s linear;
  position: relative;
}

.site-navbar ul li a::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  top: 0px;
  left: 0px;
  transition: all 0.1s ease;
}

.site-navbar ul li a:hover::before {
  border-radius: 50%;
  background-color: #16cfcf;
  border-radius: inherit;
  /* box-shadow: 1px 6px 12px 0px rgba(40, 194, 199, 0.747); */
}

.site-navbar ul li a:hover {
  color: #fff;
  box-shadow: inset 0px 20px 20px -20px #1aa5a5;
}

#login,
#sign-up {
  display: inline-block;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 17px;
  transition: all 0.5s ease;
  box-shadow: none;
}
#login::before,
#sign-up::before {
  content: "";
  background-color: transparent;
  box-shadow: none;
}

#login {
  background-color: #16cfcf;
  color: #181818;
}

#sign-up {
  background-color: rgb(241, 241, 241);
  color: #242424;
}
#login:hover {
  background-color: #128181;
  color: #f0f0f0;
}

#sign-up:hover {
  background-color: #464646;
  color: rgb(241, 241, 241);
}

.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
  z-index: 200;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}

#main-header-content {
  font-weight: bolder;
  font-size: 1.5rem;
}

#start {
  color: #fff;
  transition: all 0.2s ease;
}

#start:hover {
  background: rgb(29, 145, 158);
  background: linear-gradient(
    90deg,
    rgba(29, 145, 158, 1) 74%,
    rgba(13, 169, 193, 1) 84%,
    rgba(2, 190, 227, 1) 92%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#alphacode-text {
  color: #16cfcf;
}

sub {
  position: static;
}

main {
  min-height: 100vh;
}

.title-box {
  border-bottom: 4px solid #16cfcf;
  position: relative;
  height: 60px;
}

.title {
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 67%;
  padding: 0px 15px 0px 20px;
  background-color: #fff;
  user-select: none;
}

.row {
  margin: 0px;
}

.services-cards {
  margin-top: 60px;
}

.card {
  direction: rtl;
  text-align: center;
  transition: all 0.4s ease;
}

.card:hover {
  border: 1px solid rgba(0, 0, 0, 0.596);
  transform: translateY(-10px);
}

.padding-box {
  padding: 30px;
}

.card img {
  min-height: 300px;
}

.card-title {
  padding: 10px 0px;
}

.card-text {
  text-align: justify;
}

.order-part {
  height: 100vh;
  margin-bottom: 60px;
}

.parts{
  display: flex;
  align-items: center;
  height: 100%;
}

.order-picture{
  margin-bottom: 50px;
  /* border-radius: 71% 29% 61% 39% / 52% 45% 55% 48%  ; */
}

.order-description{
  text-align: right;
  padding: 0px 26px 20px 40px;
}

.order-description p{
  text-align: justify;
  text-align-last: right;
  line-height: 27px;
  direction: rtl;
  font-size: 15px;
}

#order-button {
  background: rgba(2, 190, 227, 1);
  color: #fff;
  width: 120px;
  height: 50px;
  font-size: 18px;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
  z-index: 35;
}

#order-button:hover {
  background: rgb(16, 138, 156);
  cursor: pointer;
}


#our-projects{
  height: 100vh;
  width: 100%;
  position: relative;
}


/* media queries */

@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgb(0, 0, 0);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
    z-index: 10;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  #main-header-content {
    font-size: 1rem;
  }
  .order-description{
    text-align: center;
  }

  .order-picture{
    margin: 50px 0px;
    /* border-radius: 71% 29% 61% 39% / 52% 45% 55% 48%  ; */
  }

  #order-button {
    width: 110px;
    height: 45px;
    font-size: 16px;
    margin-top: 10px;
  }

  #our-projects{
    padding-top: 70px;
  }
  
}



@media only screen and (max-width: 900px) and (min-width: 767px) {
  .site-navbar ul li a {
    padding: 20px 15px;
  }
}
